#cepillo {
    width: 100px; /* Ancho del cepillo */
    height: 100px; /* Altura del cepillo */
    background-size: contain; /* Ajustar la imagen al tama침o del div */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    background-position: center; /* Centrar la imagen en el div */
    cursor: grab; /* Cambiar el cursor al arrastrar */
    position: absolute; /* Posicionamiento absoluto para poder moverlo */
    left: 50%; /* Posici칩n inicial desde la izquierda */
    top: 10%; /* Posici칩n inicial desde la parte superior */
}


#gato {
    width: 300px; /* Ancho del gato */
    height: 200px; /* Altura del gato */
    background-size: contain; /* Ajustar la imagen al tama침o del div */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    background-position: center; /* Centrar la imagen en el div */
    position: absolute; /* Posicionamiento absoluto para poder moverlo */
    bottom: 40%; /* Ajustar el gato en la parte inferior del contenedor */
    left: 50%; /* Centrar el gato horizontalmente */
    transform: translateX(-50%); /* Centrar el gato */
    z-index: -1;
}

.container {
    
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}